{% extends "base.html" %}
{% load static %}

{% block body %}
    <div class="about-container">
        <h2>О лэйбле RADIANT</h2>
        <img src="{% static 'main/img/radiant copy.png' %}" alt="Лейбл RADIANT" class="about-image">
        <p class="about-text">Лейбл Radiant — это динамично развивающаяся платформа, которая фокусируется на поддержке новых талантов и продвижении их музыки. Мы активно работаем с разнообразными жанрами, от электронной до инди, создавая уникальные коллаборации и поддерживая артистов на каждом этапе их карьеры.</p>
        <p class="about-text">Radiant предлагает гибкие условия дистрибуции. Мы используем передовые технологии для распространения музыки на крупнейших цифровых платформах, таких как Spotify, Apple Music и другие. Благодаря эффективным стратегиям маркетинга и продвижения, мы помогаем артистам достигать широкой аудитории.</p>
        <p class="about-text">Наша команда предоставляет всестороннюю поддержку: от создания качественного контента до разработки индивидуальных маркетинговых стратегий. Мы стремимся создать сообщество, где артисты могут обмениваться идеями и вдохновением.</p>
        <p class="about-text">Если ты артист или музыкальный продюсер, мы будем рады сотрудничеству и помочь реализовать твои творческие идеи!</p>
    </div>
    <header>
        <div class="navbar">
            <div class="navbar-content">
                <a href="{% url 'users:login' %}" class="btn">Войти</a>
                <a href="{% url 'users:registration' %}" class="btn">Зарегистрироваться</a>
            </div>
        </div>
    </header>
    
    
{% endblock %}